
*.suo

Database/obj/
Database/bin/

Business/bin/
Business/obj/

Common/obj/
Common/bin/

DataLayer/obj/
DataLayer/bin/

FacultyAdmissionApp/bin/
FacultyAdmissionApp/obj/
DataLayer.Tests/obj/
DataLayer.Tests/bin/
packages/
Files/TestFolder/
WebApp/bin/
WebApp/WebApp.csproj.user
WebApp/obj/Debug/
Business.Test/obj/
Business.Test/bin/
